﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bethany's Pie Shop</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
